.DS_Store
.vagrant
.settings
.project
.pydevproject
testsite/app/data/*
testsite/app/static/.webaassets-cache/*
!testsite/app/static/.webassets-cache/.gitignore
*.pyc
testsite/app/config/*.yml
!testsite/app/config/app.yml
app/data/GeoLiteCity.dat
testsite/app/config/credentials.yml
