{% extends '/layouts/boilerplate.html' %}

{% block body_class %}map{% endblock %}

{% block layout %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div id="map"></div>
          <div class="alert alert-info" id="spinner">Loading Neighborhoods ...</div>
        </div>
      </div>
      <span class="loginAlert alert" href="#">If you want to edit the map, please <a href="/login">login</a> <a class="close" data-dismiss="alert" href="#">&times;</a> </span>

      <div class="controls neighborhoodMode loading">
        <div class="neighborhoodControls nohover">
          {%- if current_user.is_authenticated() -%}
            <span class="titleHelp nohover">Click on a neighborhood to edit its boundary</span>
            <span class="addButtonContainer nohover">
              <button type="button" class="addButton" class="btn btn-primary">Add missing neighborhood</button>
            </span>
            <span class="downloadLink nohover"><a href="http://zetashapes.com/api/neighborhoodsByArea?areaid={{ areaid }}&key={{current_user.api_key }}&intent=download">download</a></span>
            <span class="titleHelp hover">Click to edit:</span> <span class="neighborhoodInfo hover"></span>
            <!--'Polygon mode': <button type="button" id="polygonMode" class="btn btn-primary" data-loading-text="Off" data-toggle="button">On</button>-->
          {%- else -%}
             <span class="neighborhoodInfo hover"></span>
            <span class="downloadLink nohover"><a href="http://zetashapes.com/api/neighborhoodsByArea?areaid={{ areaid }}&key={{current_user.api_key }}&intent=download">download</a></span>
          {%- endif -%}
        </div>

        <div class="exitBlockMode">
          <span class="titleHelp">Now editing:</span> <span class="neighborhoodInfo"></span>
          <button type="button" class="exitAndSaveBlockModeButton" class="btn btn-primary">Save Edits</button>
          <button type="button" class="exitAndUndoBlockModeButton" class="btn btn-primary">Exit and Undo Edits</button>
          <button type="button" class="deleteButton" class="btn btn-primary">Delete</button>
          <a href="#" data-toggle="tooltip" title="instructions" class="helpButton">Editing Instructions</a>
          <span class="polygonModeAction"></span> <span class="drawMode"></span> mode
        </div>

      </div>
    </div>


<div class="modal hide fade" id="helpModal">
  <div class="modal-header">
    <h3>Editing Instructions</h3>
  </div>
  <div class="modal-body">
          Click on a colored block to remove it from the current neighborhood, click on a clear block to add it.
          <hr/>
          Removed blocks will remain unlabeled until you edit a different neighborhood and attach them there.
          <hr/>
          To make a bigger addition, alt or command click to begin drawing a polygon, and alt or command click to end it. <br/>
          By default, the selection will be added to the existing neighborhood, this can be changed with
          <span class="light-keys"><kbd>r</kbd> for redraw mode, and <kbd>d</kbd> for delete mode, and <kbd>a</kbd> to get back to add.</span>
          <hr/>
          Another option is to turn on continuous mode with 
          <span class="light-keys"><kbd>c</kbd>. Once this is enabled, all blocks moused over will be added (or deleted depending on the mode), hit <kbd>c</kbd> again to go back to polygon mode.</span>
          <hr/>
          (delete neighborhood coming soon)
  </div>
</div>


<div class="modal hide fade" id="neighborhoodSelectModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Neighborhood Select</h3>
  </div>
  <div class="modal-body">
    <div class="neighborhoodChoices"></div>
    <div class="ui-widget">
      <p>Other: <select class="neighborhoodSelect"></select></p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn closeButton">Cancel</a>
    <a href="#" class="btn btn-primary saveButton">Save changes</a>
  </div>
</div>

<div class="modal hide fade" id="neighborhoodDeleteModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Delete <span class="neighborhoodName"></span>?</h3>
  </div>
  <div class="modal-body">
    <div class="ui-widget">
      <p>Reassign blocks to: <select class="neighborhoodSelect"></select></p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn closeButton">Cancel</a>
    <a href="#" class="btn btn-primary reassignButton">Delete and Reassign Blocks</a>
    <a href="#" class="btn btn-primary deleteHoodButton">Delete Neighborhood</a>
  </div>
</div>

<div class="modal hide fade" id="neighborhoodAddModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add a new neighborhood<span class="neighborhoodName"></span>?</h3>
  </div>
  <div class="modal-body">
    <div class="ui-widget">
      <p>Neighborhood: <input type="text" data-provide="typeahead" class="hoodEntry" id="hoodEntry" autocomplete="off" placeholder="Enter Name"></p>
    </div>
    <div class="ui-widget">
      <p>In city: <select class="citySelect"></select></p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn closeButton">Cancel</a>
    <a href="#" class="btn btn-primary addButton">Add</a>
  </div>
</div>



<div class="modal hide fade" id="loginModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Please Login to Edit</h3>
  </div>
  <div class="modal-body">
    <div class="ui-widget">
      If you'd like to contribute to the zetashapes project, please <a href="/login">login</a> or <a href="/register">register</a>.
    </div>
  </div>
</div>

	<script>
    $('.controlBox').button()
    var mapPage = null;
    $(function() {
      mapPage = new MapPage({
        areaid: '{{ areaid }}',
        api_key: '{{current_user.api_key }}'
      })
    });
	</script>
{% endblock %}
