{% extends '/layouts/boilerplate.html' %}

{% block body_class %}map{% endblock %}

{% block layout %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div id="map"></div>
          <img src="/static/img/spinner.gif" id="spinner"/>
        </div>
      </div>
      <div class="controls neighborhoodMode">
        <div class="neighborhoodControls nohover">
          {%- if current_user.is_authenticated() -%}
            <span class="titleHelp nohover">Click on a neighborhood to edit its boundary</span>
            <span class="titleHelp hover">Click to edit:</span> <span class="neighborhoodInfo hover"></span>
            <!--'Polygon mode': <button type="button" id="polygonMode" class="btn btn-primary" data-loading-text="Off" data-toggle="button">On</button>-->
          {%- else -%}
             If you want to edit the map, please <a href="/login">login</a>
          {%- endif -%}
        </div>

        <div class="exitBlockMode">
          <span class="titleHelp">Now editing:</span> <span class="neighborhoodInfo"></span>
          <button type="button" class="exitAndSaveBlockModeButton" class="btn btn-primary">Save Edits</button>
          <button type="button" class="exitAndUndoBlockModeButton" class="btn btn-primary">Exit and Undo Edits</button>
          <a href="#" data-toggle="tooltip" title="instructions" class="helpButton">Editing Instructions</a>
        </div>
      </div>
    </div>


<div class="modal hide fade" id="helpModal">
  <div class="modal-header">
    <h3>Editing Instructions</h3>
  </div>
  <div class="modal-body">
          Click on a colored block to remove it from the current neighborhood, click on a clear block to add it.
          <hr/>
          Removed blocks will remain unlabeled until you edit a different neighborhood and attach them there.
          <hr/>
          To make a bigger addition, shift-click to begin drawing a polygon, doubleclick or shift-click to end it.
          <hr/>

          (delete neighborhood coming soon)
  </div>
</div>


<div class="modal hide fade" id="neighborhoodSelectModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Neighborhood Select</h3>
  </div>
  <div class="modal-body">
    <div class="neighborhoodChoices"></div>
    <div class="ui-widget">
      <p>Other: <select class="neighborhoodSelect"></select></p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn closeButton">Cancel</a>
    <a href="#" class="btn btn-primary saveButton">Save changes</a>
  </div>
</div>

<div class="modal hide fade" id="loginModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Please Login to Edit</h3>
  </div>
  <div class="modal-body">
    <div class="ui-widget">
      If you'd like to contribute to the zetashapes project, please <a href="/login">login</a> or <a href="/register">register</a>.
    </div>
  </div>
</div>

	<script>
    $('.controlBox').button()
    var mapPage = null;
    $(function() {
      mapPage = new MapPage({
        areaid: '{{ areaid }}',
        api_key: '{{current_user.api_key }}'
      })
    });
	</script>
{% endblock %}
