.titleHelp {
  float: left
}

.loginText {
  float:right;
}

.downloadLink {
  float:right;
}

.neighborhoodInfo {
  float: left
  font-size: 2em;
  font-weight: bold;
  padding-left: 10px;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200000;
  display: none;
}

.loginAlert {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 200000;
  display: none;
}

.controls {
  z-index: 900000;
position: fixed;
top: 47px;
height: 20px;
right: 10%;
width: 80%;
overflow: hidden;

        padding: 10px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

background: #E9EAEE;
border: 2px solid white;
margin: 0 auto;
box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
-webkit-box-shadow: 1px 2px 6


        z-index: 50;
        background: white;
}

.controls.neighborhoodMode .exitBlockMode { display: none }
.controls.blockMode .neighborhoodControls { display: none }

.neighborhoodControls.nohover .hover {display:none}
.neighborhoodControls.hover .nohover {display:none}

.controls.loading {display:none}
